* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #FAFAFA;
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
}

.wrap {
    margin: auto;
    max-width: 800px;
    width: 90%;
}

.principal {
    background: #09af00;
    color: #fff;
    padding: 50px 0;
    width: 100%;
    padding: 30px;
    box-shadow: 1px 1px 10px #B6B6B6;
}

.principal .formulario {
    color: #212121;
    text-align: center;
}

.principal .formulario input[type=text] {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
}

.principal .formulario .boton {
    background: #fff;
    color: #09af00;
    display: inline-block;
    font-size: 16px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 0px 10px rgb(65, 64, 64);
    transition: all ease .5s;
}

.principal .formulario .boton:hover {
    box-shadow: 1px 0px 5px rgb(65, 64, 64);
}


/* - Tareas - */

.tareas .lista {
    list-style: none;
}

.tareas .lista li {
    border-bottom: 1px solid #B6B6B6;
}

.tareas .lista li a {
    color: #212121;
    display: block;
    padding: 20px 0;
    text-decoration: none;
}

.tareas .lista li a:hover {
    text-decoration: line-through;
}